<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ez Blog</title>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    @Styles.Render("~/Content/bootstrap")

    <!-- Font Awesome CSS -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- the project core CSS file -->
    <link href="~/Content/template/style.css" rel="stylesheet">
    <link href="~/Content/template/typography-default.css" rel="stylesheet">

    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="~/Content/template/skins/blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="~/Content/custom.css" rel="stylesheet">


    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="no-trans front-page">
    @{Html.RenderPartial("_Header");}
    <div class="body-content" id="body-content">
        @RenderBody()
    </div>
    @{Html.RenderPartial("_Footer"); }






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
